.login-page{
    background: #004260   !important;

}
.login-page b{
    color: #ffffff !important;
}
div.dataTables_wrapper div.dataTables_filter {
    text-align: left !important;
}
div.dataTables_wrapper div.dataTables_paginate{
    text-align: left !important;
}
.modal-header{
    background: #004260   !important;
    color: #ffffff !important;
}
.input-group .input-group-addon {
    background: #004260   !important;
    color: #ffffff !important;
}

.topodetalhes h2{
    top: 0px !important;
    position: absolute;
}
.cabecalhodet ul{
    list-style: none;
}

.swal2-popup #swal2-content {
    font-size: 14pt !important;
}

.swal2-popup .swal2-title {
    font-size: 2.5em !important;
}
.swal2-icon.swal2-warning {
    border-color: #930 !important;
    color: #930 !important;
}